/*****************************************************************************/

/* mixins: Style */

/*****************************************************************************/
@import "{}/client/stylesheets/vars.scss";

/// culoare hex cu opacitate
@mixin background($color, $opacity) {
    background-color: $color;
    background-color: rgba($color, $opacity);
}

/// animatie cu suport pentru toate naviagtoarele web
@mixin animate ($attr, $time) {
    -webkit-transition: $attr, $time ease;
    -moz-transition: $attr, $time ease;
    -ms-transition: $attr, $time ease;
    -o-transition: $attr, $time ease;
    transition: $attr, $time ease;
}
/// transform cu suport pentru toate naviagtoarele web
@mixin transform ($val) {
    -webkit-transform: $val;
    -moz-transform: $val;
    -ms-transform: $val;
    -o-transform: $val;
    transform: $val;
}
/// mixin pentru pozitionare
@mixin position($w, $a, $s, $d) {
    top: $w;
    left: $a;
    bottom: $s;
    right: $d;
}

// tranzistie basic
.simpleTransition {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

// animate grow basic de la 0 la 1
@mixin growUp($duration) {
    animation: scaling;
    animation-duration: $duration;
}

// keyframe pentru scaling
@keyframes scaling {
    0% {
        @include transform(scale(0));
    }
    100% {
        @include transform(scale(1));
    }
}

// animatie pentru opacitate de la 0 la 1
@mixin appear($duration) {
    animation: opac;
    animation-duration: $duration;
}

@keyframes opac {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// functie pentru generare animatie cu keyframe
@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';
    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};
        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation: $animations;
    -o-animation: $animations;
    animation: $animations;
}

// functie generare keyframe

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}








