/*****************************************************************************/


/* main: Style */


/*****************************************************************************/

@import "{}/client/stylesheets/mixins.scss";
body {
    background-color: #fff;
}
$primary: $forecastico !important;
.main {}

a:focus,
a:active,
button,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {
    outline: none !important;
}

.btn {
    background-color: #eee !important;
    color: $forecastico !important;
    @include animate(all, 320ms);
    &:hover {
        @include animate(all, 320ms);
        color: #fff !important;
        background-color: $forecastico !important;
    }
}

@include keyframes(increase) {
    0% {
        width: 0px;
        height: 0px;
    }
    50% {
        width: 200px;
        height: 200px;
    }
    100% {
        width: 0px;
        height: 0px;
    }
}

.miniLoader {
    background-color: rgba(255, 255, 255, 0.0);
    height: 300px;
    z-index: 5;
    overflow: hidden;
    @include animate(all, 320ms);
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        @include animation('increase 1.9s infinite');
    }
}

//////override

.form-control,
.form-group .form-control {
  
}
/////override