template(name='Home')
  .col-xs-12.col-md-10.col-md-offset-1
     .row
      .col-xs-12.trend-box-home
          .col-xs-12
            canvas#trend-chart
  .col-xs-12.col-md-10.col-md-offset-1
    .row
      .col-xs-12.col-md-4.news-box-home
        .col-xs-12.title Latest News
      .col-xs-12.col-md-8.last-box-home
      
      
  
