template(name='Profile')
  if currentUser
    .col-xs-12.col-md-8.col-md-offset-2
        .col-xs-12.profile-wrapper
          .col-xs-12.profile-item
            .col-xs-12.profile-data
              .col-xs-12.col-md-3.profile-picture
                .col-xs-12.pic-container
                  img.img.img-responsive(src=avatar)
              .col-xs-12.col-md-9.profile-info
                .row
                  .col-xs-12.col-md-9
                    .col-xs-12.username 
                      i.fa.fa-user
                      #username=profile.nickname
                    .col-xs-12.email
                        i.fa.fa-envelope
                        | #{myEmail}
                    .col-xs-12.favorites
                      i.fa.fa-heart
                      | Favorites:
                      span.fav-number=favorites
                  .col-xs-12.col-md-3
                    .col-xs-12
                      .col-xs-12.editProfile.profile-menu-item(data-target="#editProfile") Edit Profile
                    .col-xs-12
                      .col-xs-12.logOut Log Out
              if isInRole "Admin"
                .col-xs-12.profile-menu
                  .col-xs-12.col-md-4
                    .col-xs-12.profile-menu-item(data-target="#addCompany") Add Company
                  .col-xs-12.col-md-4
                    .col-xs-12.profile-menu-item(data-target="#editCompanies") Edit Companies
                  .col-xs-12.col-md-4
                    .col-xs-12.profile-menu-item(data-target="#editRights") Edit Users Rights

      .col-xs-12.col-md-8.col-md-offset-2
        .col-xs-12
          .col-xs-12.changerMenu
            .col-xs-12.changerMenu-item#editProfile
              .col-xs-12 Edit Profile
              .col-xs-12 Username
              .col-xs-12 Profile Picture
            if isInRole "Admin"
              .col-xs-12.changerMenu-item#addCompany.active
                +quickForm(collection="Symbols" type="insert" id="addSymbol" buttonContent="Insert")
              .col-xs-12.changerMenu-item#editCompanies
                .col-xs-12 Companies
              .col-xs-12.changerMenu-item#editRights
                .col-xs-12 Users
              
     
  else
    .col-xs-12
      .col-xs-12.col-md-6.col-md-offset-3
        +atForm


    
