/*****************************************************************************/


/* Profile: Style */


/*****************************************************************************/

@import "{}/client/stylesheets/mixins.scss";
.profile-wrapper {
    margin-top: 20px;
    .profile-item {
        padding-bottom: 20px;
        padding-top: 20px;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
        min-height: 20vh;
        .profile-data {
            text-align: center;

            .profile-picture {
                padding-bottom: 10px;
                padding-top: 10px;
                overflow: hidden;
                @include animate(all, 320ms);
                img {
                    // height: 30vh;
                    margin: 0 auto;
                    border-radius: 50%;
                }
                .fa-cog {
                    display: none;
                    z-index: -1;
                    @include animate(all, 320ms);
                }
            }
            .profile-info {
                margin-top: 30px;
                .editProfile {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin-top: 3px;
                    margin-bottom: 3px;
                    background-color: $forecastico;
                    color: #fff;
                    cursor: pointer;
                    @include animate(all, 320ms);
                    &:hover {
                        @include animate(all, 320ms);
                        opacity: 0.8;
                    }
                    &.editMode {
                        @include animate(all, 320ms);
                        background-color: #333;
                        color: $forecastico;
                        
                    }
                }
                .logOut {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin-top: 3px;
                    margin-bottom: 3px;
                    background-color: $forecastico;
                    color: #fff;
                    cursor: pointer;
                    @include animate(all, 320ms);
                    &:hover {
                        @include animate(all, 320ms);
                        opacity: 0.8;
                    }
                }
                .username,
                .email,
                .favorites {
                    i {
                        color: $forecastico;
                        margin-right: 5px;
                    }
                }
                .username {
                    margin-top: 10px;
                    text-align: left;
                    i {
                        font-size: 18px;
                    }
                   #username{
                       display: inline-block;
                       
                   }
                }
                .email {
                    margin-top: 10px;
                    text-align: left;
                }
                .favorites {
                    margin-top: 10px;
                    text-align: left;
                }
            }
            .profile-menu {
                .profile-menu-item {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin-top: 3px;
                    margin-bottom: 3px;
                    background-color: $forecastico;
                    color: #fff;
                    cursor: pointer;
                    @include animate(all, 320ms);
                    &:hover {
                        @include animate(all, 320ms);
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}

.changerMenu {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    .changerMenu-item {
        display: none;
        &.active {
            display: block;
        }
    }
}
.companyEditWrapper{
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    
    .comp{
        font-size: 16px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #aaa;
        color:#fff;
        text-align: center;
        @include animate(all,320ms);
        cursor: pointer;
        &:hover{
            background-color: $forecastico;
        }
    }
    form{
        display: none;
    }
    &.active{
        
        .comp{
            background-color: $forecastico;
            
        }
        form{
            display: block;
            color:#fff;
           
        }
    }
}