template(name='MasterLayout')
  .col-xs-12.topBar
    .col-xs-12.col-lg-4.col-lg-offset-4
      a(href="{{pathFor 'HomeSecond'}}")
        .logo
          span F
        span Forecastico
  #reconnecting.col-xs-10.col-xs-offset-1.col-sm-2.col-sm-offset-1
    .row
      .col-xs-3.miniLoader.mini
      .col-xs-9.info Trying to reconnect.
      
  #notification.col-xs-10.col-xs-offset-1.col-sm-3.col-sm-offset-1
    .row
      .col-xs-12.notifHeaderWrapper
        .row
          .col-xs-10.title Forecastico
          .col-xs-2.xWrapper
            .closeNotif x
    .col-xs-12.content
    .col-xs-6.col-xs-offset-3.link
      a(href="#").hyperLink Go there
  nav.forecasticoNav
    .col-xs-12.col-md-4.col-md-offset-4.innerNav
      .row
        .col-xs-3.navChild
          a(href="{{pathFor 'HomeSecond'}}",title="Home",class="{{isActiveRoute class='active' name='HomeSecond'}} {{isActiveRoute class='active' name='Home'}}")
            i.fa.fa-home
        .col-xs-3.navChild
          a(href="{{pathFor 'companies'}}",title="Companies",class="{{isActiveRoute class='active' name='companies'}}")
            i.fa.fa-list
        .col-xs-3.navChild
          a(href="{{pathFor 'favorites'}}",title="Favorites",class="{{isActiveRoute class='active' name='favorites'}}")
              i.fa.fa-heart
        .col-xs-3.navChild
          a(href="{{pathFor 'profile'}}",title="Profile",class="{{isActiveRoute class='active' name='profile'}}")
            i.fa.fa-user
  +yield
 

    
